$navs-color: rgba(249, 255, 140, 0.868);
$header-bg-color: #fff;
$header-color: rgb(9, 9, 9);
$header-selected-color: rgb(14, 139, 121);
$header-active-color: rgb(14, 139, 121);
$header-bar-color: rgb(0, 0, 0);
$header-height: 4rem;
$hover-color: rgb(241, 245, 249);
$border-color: rgb(233, 233, 233);

$primary-color: rgb(14, 139, 121);

$black-color: black;
$white-color: white;

$placeholder-color: rgb(75, 74, 74);

$header-menu-item-color: rgb(162, 240, 203);
