$navs-color: rgba(249, 255, 140, 0.868);
$header-bg-color: #fff;
$header-color: rgb(9, 9, 9);
$header-selected-color: rgb(14, 139, 121);
$header-active-color: rgb(14, 139, 121);
$header-bar-color: rgb(0, 0, 0);
$header-height: 4rem;
$hover-color: rgb(241, 245, 249);
$border-color: rgb(233, 233, 233);
$gray-color: rgb(250, 250, 250);
$primary-color: rgb(14, 139, 121);

$admin-color: rgb(125, 211, 252);
$warning-color: rgb(232, 121, 249);

$jlb-color: #ce181f;

$black-color: black;
$white-color: white;

$placeholder-color: rgb(75, 74, 74);

$header-menu-item-color: rgb(162, 240, 203);

$confirm-btn: rgb(22, 163, 74);
$delete-btn: rgb(190, 18, 60);
$edit-btn: rgb(245, 158, 11);
$cancel-btn: rgb(148, 163, 184);

$error-color: rgb(220, 38, 38);
